<ng-container [ngSwitch]="type">
    <button [type]="buttonEvent" *ngSwitchDefault mat-button [disabled]="isDisabled" color="{{color}}">
      <mat-icon *ngIf="icon">{{icon}}></mat-icon>
      <label>{{ text }}</label>
    </button>
    <button [type]="buttonEvent" *ngSwitchCase="'stroked'" [disabled]="isDisabled" mat-stroked-button color="{{color}}">
      <mat-icon *ngIf="icon">{{icon}}></mat-icon>
      <label>{{ text }}</label>
    </button>
    <button [type]="buttonEvent" *ngSwitchCase="'raised'" [disabled]="isDisabled" mat-raised-button color="{{color}}">
      <mat-icon *ngIf="icon">{{icon}}></mat-icon>
      <label>{{ text }}</label>
    </button>
    <button [type]="buttonEvent" *ngSwitchCase="'icon'" [disabled]="isDisabled" mat-icon-button color="{{color}}">
      <mat-icon>{{ icon }}</mat-icon>
    </button>
    <button [type]="buttonEvent" *ngSwitchCase="'fab'" [disabled]="isDisabled" mat-fab color="{{color}}">
      <mat-icon>{{ icon }}</mat-icon>
    </button>
    <button [type]="buttonEvent" *ngSwitchCase="'mini-fab'" [disabled]="isDisabled" mat-mini-fab color="{{color}}">
      <mat-icon>{{ icon }}</mat-icon>
    </button>
  </ng-container>
  