.logo-zahti {
    width: 90px;
    height: 90px;
} 

.login-button {
    margin: 8px;
}

.wishList-button {
    margin-right: 40px;
}

.search-button {
    margin-right: 100px;
}

.search-field {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 800px;
    height: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}