<h5><u><i>Demo to create search bar in Angular material!! </i></u></h5>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" [(ngModel)]="search" matInput placeholder="Search" name="search">
        <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <br />
</form>

<div class="tecnologia">
    <a class="mat-subheading-1" fxLayoutGap="12px" fxLayoutAlign="start center">
        <mat-icon>laptop</mat-icon>
        Tecnologia
    </a>
    <p class="mat-body-1">Programadores, designers, recruiters…</p>
</div>

